# Python Notes Basic & Intermediate (Book I)

_Those notes are from DataCamp and KSCHOOL clasess_

## Introduction to Python for Data Science
### Variable types

-> **int**, or `integer`: a number without a fractional part. The value 200, is an example of an integer.

-> **float**, or floating point: a number that has both an `integer and fractional part`, separated by a point. The value 9.99, is an example of a float.

-> **str**, or string: a type to represent `text`. You can use single or double quotes to build a string.

    // s.find(), will return the position in the string the first match
    // s.replace(), to change characters
    // s.split(), to divide the sting according to a pattern.
    // s.index(), to find the lowest index.
    // s.find(), idem.
     
-> **bool**, or boolean: a type to represent `logical values`. Can only be True or False (the capitalization is important!).

-> **strongly typed**, means that python won't change the type, you have to do any change needed.


### Guess the type

To find out the type of a value or a variable that refers to that value, you can use the `type()` function. Suppose you've defined a variable z, but you forgot the type of this variable.

In [1]:
#To determine the type of z:
z= True
type(z)

bool

In [18]:
#strongly typed: a won't work since "5" is represented as an string
a= 4 + "5"
print(a)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
a = 4 + int("5")
print (a)

9

In [81]:
# Write a sentence that will be our string

sentence = "Pilar, you are very slow learning, python"

print(sentence.split(","))
print(sentence.find("y"))
print(sentence.replace("P", "S"))
print(sentence)

['Pilar', ' you are very slow learning', ' python']
7
Silar, you are very slow learning, python
Pilar, you are very slow learning, python

### One Rule 

`Different types behave differently in Python`. A sum will operate like it is with integers but will be used as a concatenate formula for strings.

Using the **+** operator to paste together two strings can be very useful in building custom messages.

_print("I started day with " + stocks + " aples and now I have only " + remaining + ". Great!")_

This will not work, though, as you cannot simply sum strings and floats.

To fix the error, you'll need to explicitly convert the types of your variables. More specifically, you'll need str(), to convert a value into a string. str(stocks), for example, will convert the float stocks to a string.

Similar functions such as int(), float() and bool() will help you convert Python values into any type.

In [2]:
# Definition of stocks of apples and 10 sales of apple's baskets (6pax)
stocks = 100
sales = (10 *6)
remaining = stocks - sales

# Fix the printout
print("I started day with " + str(stocks) + " apples and now have only " + str(remaining) + ". Great!")

I started day with 100 apples and now have only 40. Great!

### List

As opposed to int, bool etc., a list is a compound data type; you can group values together, use [ ] to hold the data inside. A list can also contain a mix of Python types including strings, floats, booleans, etc.

 <div class="alert alert-block alert-warning">
 my_list = [el1, el2, el3]
</div>

In [3]:
# cars scores (in a competition)
ford = 71.43
alpharomeo = 78.0
mercedes = 40.0
fiat = 20.75
mazda = 9.30

# competition information as list of lists
cars = [["ford focus", ford],
         ["alpharomeo julietta", alpharomeo],
         ["mercedes vitto", mercedes],
         ["fiat 500", fiat],
         ["mazda zoom", mazda]]

# Print out cars
print(cars)

# Print out the type of cars
print(type(cars))

[['ford focus', 71.43], ['alpharomeo julietta', 78.0], ['mercedes vitto', 40.0], ['fiat 500', 20.75], ['mazda zoom', 9.3]]
<class 'list'>

### Subsetting Lists

1. Lists starts on `index 0`
2. You can choose a position from the left [3] or from the right [-3]
3. The start index will be included, while the end index is not. _x[0:3] will be selecting first,second, third, but NOT forth element._
<div class="alert alert-block alert-warning">
my_list[start:end]
</div>
4. Subsetting lists of lists. To subset lists of lists, you can use the same technique as before: square brackets.

In [4]:
#Lets select the second element of the last element. (Last element is mazda list, and second element (because first will be 0)is the punctuation of the mazda car)

cars[-1][1]

9.3

### List Manipulation

Changing list elements

**1.Select an element of the list and give another value.**

In [5]:
# Create the areas list
cars = ["ford focus", 71.43, "alpharomeo julietta", 78.0, "mercedes vitto", 40.0, "fiat 500", 20.75, "mazda zoom", 9.30]

# Correct the mazda area from 9.30 to 10.30
cars[9]=10.50

# Change "mercedes vitto" to "mercedes clase a"
cars[4]="mercedes clase a"

#Print cars
print(cars)

['ford focus', 71.43, 'alpharomeo julietta', 78.0, 'mercedes clase a', 40.0, 'fiat 500', 20.75, 'mazda zoom', 10.5]

**2.Extend a list: you can use the + operator.**

In [6]:
# Add seat panda (14.6) and a renault clio (47.8) data to cars, new list is cars_all
cars_all=cars+["seat panda",14.6]+["renault clio", 47.8]

#Print cars_all
print(cars_all)

['ford focus', 71.43, 'alpharomeo julietta', 78.0, 'mercedes clase a', 40.0, 'fiat 500', 20.75, 'mazda zoom', 10.5, 'seat panda', 14.6, 'renault clio', 47.8]

**3.Delete list elements: with del(x) statement**. Pay attention here: as soon as you remove an element from a list, the indexes of the elements that come after the deleted element all change!
<div class="alert alert-block alert-warning">
x = ["a", "b", "c", "d"]

------> del(x[1])
</div>

In [7]:
# Delete seat panda (14.6)
del(cars_all[-4:-2])

# Print cars_all
print(cars_all)

['ford focus', 71.43, 'alpharomeo julietta', 78.0, 'mercedes clase a', 40.0, 'fiat 500', 20.75, 'mazda zoom', 10.5, 'renault clio', 47.8]

**4.Copies of list** If you don't wont to write over the base list, remember to make copies by using the **list()** formula.

In [8]:
# Create list cars
cars = [71.43, 78.0, 40.0, 20.75, 10.5, 14.6, 47.8]

# Create areas_copy
cars_copy = list(cars)

# Change areas_copy
cars_copy[0] = 5.0

# Print areas
print(cars)

[71.43, 78.0, 40.0, 20.75, 10.5, 14.6, 47.8]

**5.Other Methods**

### Sets

When applyint a set to a list, it returns only the unique values. They can be useful to get intersections of lists.

In [49]:
# Let's define a list of numbers 

l1= [1,2,3,1,2,3,5,6,6,5]

# Transform it to a set to have unique values
s1= set(l1)
print(s1)

# Having this other list lo (always smaller) we can play algebrand and also intersections
l2 = [5,6,9,5,6,8,9]
s2=set(l2)
print(s2)

print(s1.intersection(s2))

print(s1- s2)

{1, 2, 3, 5, 6}
{8, 9, 5, 6}
{5, 6}
{1, 2, 3}

### Functions. Use help(function) to learn more about it.

**1.List of functions**

**print()** 

**type()** defines the type of information contained

**str()** to turn into a string 

**int()** to turn into a integer

**bool()** to turn into a boolean

**float()** to turn into a float or number without decimal part

**len()** to know the length of a piece of information.

**sorted()** order values (False by default)

**2.Methods**

Are `functions that apply depending on the type of objects` (there are methods for lists, methods for integers...)
Methods for different types of objects behave different 

**2.1 String Methods**

In [9]:
# Create list cars
car = "mazda zoom"

#string.method() no need to put anything inside the parenthesis then print
print(car)
car_mayusculas = car.upper()

print(car_mayusculas)
print(car.count("o"))

mazda zoom
MAZDA ZOOM
2

**2.2 List Methods**  write the name of the list, then ., then the method

**index()**, to get the index of the first element of a list that matches its input

**count()**, to get the number of times an element appears in a list

**append()**, that adds an element to the list it is called on

**remove()**, that removes the first element of a list that matches the input

**reverse()**, that reverses the order of the elements in the list it is called on

**pop()**, mostrar el último elemento y eliminarlo de la lista.

In [22]:
# Create list cars
cars = [71.43, 78.0, 40.0, 20.75, 10.5]

# Use append twice to add seat panda and renault clio
cars.append(14.6)
cars.append(47.8)


# Print out cars
print(cars)

# Reverse the orders of the elements in cars
cars.reverse()

# Print out cars
print(cars)

#Eliminate last element
cars.pop()
print(cars)

[71.43, 78.0, 40.0, 20.75, 10.5, 14.6, 47.8]
[47.8, 14.6, 10.5, 20.75, 40.0, 78.0, 71.43]
[47.8, 14.6, 10.5, 20.75, 40.0, 78.0]

In [ ]:
# Defining a list 
x= [1,2,3,4,5,6,7,8,9]

**-> list.append(element)**

**-> list.extend(element)** Inserts letter of the new element separatelly, it has to be an iterable item (not floats or int)

**-> list.remove(element)**

**-> list.insert(index, element)**

**-> list.pop()** will choose last element

In [12]:
x = [1,2,3,5,12,2,5,5,23,3]
x.append("cualquier cosa")
print(x)

x.extend("nada más")
print(x)

x.extend([1,2,3])
print(x)

x.remove(12)
print(x)

x.insert(0, "Esto Primero")
print(x)

x.pop()
print(x)

x.pop()
print(x)

[1, 2, 3, 5, 12, 2, 5, 5, 23, 3, 'cualquier cosa']
[1, 2, 3, 5, 12, 2, 5, 5, 23, 3, 'cualquier cosa', 'n', 'a', 'd', 'a', ' ', 'm', 'á', 's']
[1, 2, 3, 5, 12, 2, 5, 5, 23, 3, 'cualquier cosa', 'n', 'a', 'd', 'a', ' ', 'm', 'á', 's', 1, 2, 3]
[1, 2, 3, 5, 2, 5, 5, 23, 3, 'cualquier cosa', 'n', 'a', 'd', 'a', ' ', 'm', 'á', 's', 1, 2, 3]
['Esto Primero', 1, 2, 3, 5, 2, 5, 5, 23, 3, 'cualquier cosa', 'n', 'a', 'd', 'a', ' ', 'm', 'á', 's', 1, 2, 3]
['Esto Primero', 1, 2, 3, 5, 2, 5, 5, 23, 3, 'cualquier cosa', 'n', 'a', 'd', 'a', ' ', 'm', 'á', 's', 1, 2]
['Esto Primero', 1, 2, 3, 5, 2, 5, 5, 23, 3, 'cualquier cosa', 'n', 'a', 'd', 'a', ' ', 'm', 'á', 's', 1]

In [11]:
l = [12,3,3,5,6,6,7]
while l:
    print(l.pop())

7
6
6
5
3
3
12

**3.Packages**

An example of import:
`import numpy as np`, or you can use the format `from numpy import array` and you import only a part.
Other packages: `math`

In [11]:
# Definition of radius
r = 0.43

# Import the math package
import math as mt

# Calculate C
C = 2*mt.pi*r

# Calculate A
A = mt.pi*(r**2)

# Build printout
print("Circumference: " + str(C))
print("Area: " + str(A))

Circumference: 2.701769682087222
Area: 0.5808804816487527

### Numpy

It's a powerful package to do data science.
Python doesn't know how to do calculations on lists, thats why Numpy is necessary.

**1**.Always `define a shortcut` for wasting less time: Import `numpy package as np` (or anyother name)

**2**.Use np.array() to `transform the list into an numpy array`. Now you will be allowed to do calculations.

**3**.To `subset use [ ]` if you want go deepper in selection, add more [ ] or choose a selection [:,2] in this case will mean _all rows, third column_

**4**.All `items in an array should be same type`, or will behave like same type.

In [12]:
# np.array treats all items as same type item. Here True =1 and False=0
import numpy as np
np.array([True, 1, 2]) + np.array([3, 4, False])

array([4, 5, 2])

**5**.You can always `reffer to the method "shape" to see the dimensions`.

In [13]:
# Create baseball, a list of lists
baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188, 75.2]]

# Import numpy
import numpy as np

# Create a 2D numpy array from baseball: np_baseball
np_baseball= np.array(baseball)

# Print out the type of np_baseball
print(type(np_baseball))

# Print out the shape of np_baseball -> this means its 4 rows and 2 columns
print(np_baseball.shape)

<class 'numpy.ndarray'>
(4, 2)

**6**.`Apply basic statatistical functions` to see if data looks good

In [14]:
import numpy as np
x = [1, 5, 8, 10, 18]
np.median(x)

8.0

In [15]:
np.mean(x)

8.4

In [16]:
np.std(x)

5.6780278266313555

****************************************************************************************************************
********************************************************************************************************************************************************************************************************************************
****************************************************************************************************************

## Intermediate Python for Data Science
### Matplotlib

Reminder: 

<div class="alert alert-block alert-warning">
**import matplotlib.pyplot as plt
/
plt.plot(x,y)
/
plt.show()**
</div>

In [17]:
#**This example won't work because we don't have data available**

# Import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

# Make a line plot: year on the x-axis, pop on the y-axis
plt.plot(year,pop)

# Display the plot with plt.show()
plt.show()

NameError: name 'year' is not defined

#### Examples of visualization

**-> plt.plot(x,y)**: Two axis and points united with a line

**-> plt.scatter(x,y)**: Two axis and points distributed

**-> plt.xscale ('log')**: sets the x axis to a logarithmic scale

**-> plt.hist**: Explore dataset and get an idea about distribution. Define the horizontal axis data and the bins=10, 10 by default)

**-> plt.clf**: cleans a plot.

#### Axis labels and title

**-> plt.xlabel('_name_')** 

**-> plt.ylabel('_name_')** 

**-> plt.title('_name_')**

#### Adjusting Axis

**-> plt.yticks([0,1,2], ["one","two","three"])**

#### Sizes, colors, oppacity

Assign to the scatter method the **s** argument, for size, **c=** for color, **alpha=0.8** for oppacity

**-> plt.scatter(x,y,`s=`, `c=`, `alpha=`)**

****************************************************************************************************************
****************************************************************************************************************

### Dictionaries

my_dict = {
   "key1":"value1",
   "key2":"value2",
}

Remember that `keys should be unic and immutable`.

In [28]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe= {
    "spain":"madrid",
    "france":"paris",
    "germany":"berlin",
    "norway":"oslo"
}

# Print europe
print(europe)

# Print out the keys in europe
print(europe.keys())

# Print out the values in europe
print(europe.values())

# Print out value that belongs to key 'norway'
print(europe["norway"])

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}
dict_keys(['spain', 'france', 'germany', 'norway'])
dict_values(['madrid', 'paris', 'berlin', 'oslo'])
oslo

List | Dictionari
---|---
Select, update and remove [ ]| Select, update and remove [ ]
Indexed by a range of numbers | Indexed by unique keys
Collection of values, order matters, select entire subsets | Lookup table with unique keys

#### Dictionary manipulation

To add or modify a value in a dictionary: `name_of_dictionary['key_name'] = 'value_name'`


To delete use `del(name_dictionary[key_to_delete])`

In [26]:
# Add italy to europe
europe["italy"]= "rome"

# Print out italy in europe
print("italy" in europe)

# Add poland to europe
europe["poland"]= "warsaw"

# Print europe
print(europe)

# Remove france
del(europe["france"])

# Print europe after removal
print(europe)

True
{'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': 'rome', 'poland': 'warsaw'}
{'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': 'rome', 'poland': 'warsaw'}

Dictionaries can contain key:value pairs where the values are again dictionaries. It's perfectly possible to chain square brackets to select elements.

In [14]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = { 'capital':'rome', 'population':59.83 }

# Add data to europe under key 'italy'
europe['italy'] = data

# Print europe
print(europe)

# Delete other option with pop
europe.pop("spain")
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}
{'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

**Iterating inside a Dictionary**

In [15]:
for element in europe: #Europe is the name of the dictionary
    print("Key %s  -> Value %s" % (element, str(europe[element])))

Key france  -> Value {'capital': 'paris', 'population': 66.03}
Key germany  -> Value {'capital': 'berlin', 'population': 80.62}
Key norway  -> Value {'capital': 'oslo', 'population': 5.084}
Key italy  -> Value {'capital': 'rome', 'population': 59.83}

In [16]:
[element for element in europe] #Europe is the name of the dictionary

['france', 'germany', 'norway', 'italy']

In [17]:
[europe[element] for element in europe]

[{'capital': 'paris', 'population': 66.03},
 {'capital': 'berlin', 'population': 80.62},
 {'capital': 'oslo', 'population': 5.084},
 {'capital': 'rome', 'population': 59.83}]

****************************************************************************************************************
****************************************************************************************************************

### Pandas

High level data manipulation tool built on Numpy but more complex. **`It's basically a way to store tabular data where you can label the rows and the columns. It helps to organize data as a data_frame`**.

A way to do it is **moving from dictionaries to  DataFrames**. Each dictionary key is a column label and each value is a list which contains the column elements.

In [ ]:
# Three lists are defined in the script:

    # names, containing the country names for which data is available.
    # dr, a list with booleans that tells whether people drive left or right in the corresponding country.
    #cpc, the number of motor vehicles per 1000 people in the corresponding country.

# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict= {
    "country": names ,
    "drives_right": dr ,
    "cars_per_cap": cpc,
}

# Build a DataFrame cars from my_dict: cars
cars= pd.DataFrame(my_dict)

# Print cars
cars

In [ ]:
#To rename the labels of the first column 
# Definition of row_labels
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
cars

Another way is to **import data from a CSV file**. To import CSV data into Python as a Pandas DataFrame you can use `read_csv()`.

In [ ]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars_csv
cars_csv= pd.read_csv("cars.csv", index_col=0)

# Print out cars_csv
cars_csv

#### Selection 

A way to select information is using [  ]. The single bracket version gives a Pandas Series, the double bracket version gives a Pandas DataFrame.

In [ ]:
cars_csv['cars_per_cap']

In [ ]:
cars_csv[['cars_per_cap','drives_right']]

With **`loc`** and **`iloc`** you can do practically any data selection operation on DataFrames you can think of. `loc` is label-based, which means that you have to specify rows and columns based on their row and column labels. `iloc` is integer index based, so you have to specify rows and columns by their integer index

In [ ]:
#Single [ ] will mean a Serie

cars_csv.loc['RU']
cars_csv.iloc[4]

In [ ]:
# Double [ ] will represent a DataFrame

cars_csv.loc[['RU']]
cars_csv.iloc[[4]]

In [ ]:
# Let's choose more than one option
cars_csv.loc[['RU', 'AUS']]
cars_csv.iloc[[4, 1]]

In [ ]:
#Single [ ] will mean a Serie

cars_csv.loc['IN', 'cars_per_cap']
cars_csv.iloc[3, 0]

In [ ]:
#Single [ ] will mean a Serie

cars_csv.loc[['IN', 'RU'], 'cars_per_cap']
cars_csv.iloc[[3, 4], 0]

In [ ]:
# Double [ ] will represent a DataFrame

cars_csv.loc[['IN', 'RU'], ['cars_per_cap', 'country']]
cars_csv.iloc[[3, 4], [0, 1]]

****************************************************************************************************************
****************************************************************************************************************

### Logic, Control Flow and Filtering
#### Comparison Operators

In [50]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18
print(my_house>=18)

# my_house less than your_house
print(my_house<your_house)

[ True  True False False]
[False  True  True False]

**Boolean operators** **and, or, not** operators

In [ ]:
# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

# my_kitchen bigger than 10 and smaller than 18?
print(my_kitchen >10 and my_kitchen < 18)

# my_kitchen smaller than 14 or bigger than 17?
print(my_kitchen <14 or my_kitchen > 17)

# Double my_kitchen smaller than triple your_kitchen?
print(my_kitchen*2<3*your_kitchen)

**Boolean operators with Numpy**

To use these operators with Numpy, you will need `np.logical_and()`, `np.logical_or()` and `np.logical_not()`

In [ ]:
np.logical_and(your_house > 13, 
               your_house < 15)

In [ ]:
# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house>18.5, my_house<10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house<11, your_house<11))

#### il, elif, else

```
if condition:
    expression
elif condition:
    expression
else:
    expression
```

In [ ]:
#Example

area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")

**Filtering Pandas DataFrame**

In [51]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Extract drives_right column as Series: dr
dr= cars['drives_right']

# Use dr to subset cars: sel
sel= cars[dr]

# Print sel.
print(sel)

# We could do the same with only one line
sel = cars[cars['drives_right']]

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [52]:
# Create car_maniac: observations that have a cars_per_cap over 500
cpc = cars['cars_per_cap']
many_cars = cpc > 500
car_maniac = cars[many_cars]

# Print car_maniac
print(car_maniac)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [53]:
# Create medium: observations with cars_per_cap between 100 and 500
cpc= cars['cars_per_cap']
between= np.logical_and (cpc>100, cpc<500)
medium= cars[between]

# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True

****************************************************************************************************************
****************************************************************************************************************

### Loops

**While loop**

Repeats an action until condition is met

```
while condition :
    expression
```

In [75]:
# Easy example
lista_ejemple = [10,12,46,4,5,6,7,8,9]

# Create a while loop with a counter that stops then we get index 5

i = 0
while i<5:
    print(lista_ejemple[i])
    i += 1
    """The loop will stop when we get to the index 5 (not included)"""

10
12
46
4
5

In [71]:
# Initialize counter
counter = -6

# Code the while loop
while counter != 0 :
    print("correcting...")
    if counter>0:
        counter=counter-1
    else:
        counter=counter+1

correcting...
correcting...
correcting...
correcting...
correcting...
correcting...

**For loop**

Repeats an action for every item in the sequence

        for var in seq :
            expression

In [57]:
# Easy example
x = [12, 35, 6, 6, 2, 3, 3, 3]

for xi in x:
    print(xi)

12
35
6
6
2
3
3
3

In [55]:
# Take this information and print it separated
fam = [1.73, 1.68, 1.71, 1.89]
for height in fam : 
    print(height)

1.73
1.68
1.71
1.89

In [58]:
#This time enumerate them
for index, height in enumerate(fam) :
    print("index " + str(index) + ": " + str(height))

index 0: 1.73
index 1: 1.68
index 2: 1.71
index 3: 1.89

In [59]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for h in house :
    print("the "+ str(h[0])+" is "+ str(h[1])+" sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

**Loop over a Dictionary**

Use a method `items()`. Remember: dictionaries are inherently unordered!

In [60]:
world = { "afghanistan":30.55, 
          "albania":2.77,
          "algeria":39.21 }

for key, value in world.items() :
    print(key + " -- " + str(value))

afghanistan -- 30.55
albania -- 2.77
algeria -- 39.21

In [61]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
# Iterate over europe
for key, value in europe.items():
    print ("the capital of " + key + " is " + value)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

**Loop over a Numpy array**

Use a function for 2D Numpy arrays `np.nditer(my_array)`

If you're `dealing with a 1D Numpy array`, looping over all elements can be as simple as:

        for x in my_array :
            ...

If you're `dealing with a 2D Numpy array`, it's more complicated. A 2D array is built up of multiple 1D arrays. To explicitly iterate over all separate elements of a multi-dimensional array, you'll need this syntax:

        for x in np.nditer(my_array) :
    ...

In [ ]:
# Create baseball, a list of lists
baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188, 75.2]]
# For loop over np_baseball
for x in np.nditer(np_baseball) :
    print(x)

**Loop over a Panda DataFrame**

Iterating over a Pandas DataFrame is typically done with the `iterrows()` method. Used in a for loop, every observation is iterated over and on every iteration the row label and actual row contents are available:

    for label_row, row_data, in my_panda.iterrows():
        expression

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Iterate over rows of cars
for label, row_data in cars.iterrows():
    print(label)
    print (row_data)

In [ ]:
# Adapt for loop so we can read the label and the cars por capita (US: 809)
for lab, row in cars.iterrows() :
    print(lab + " :" + str(row['cars_per_cap']))

**Add a colummn with add**

In [62]:
# Code for loop that adds COUNTRY column using a loop, very ineficient.
for lab, row in cars.iterrows() :
    cars.loc[lab, "COUNTRY"] = row["country"].upper()
    
# Print cars
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

If you want to add a column to a DataFrame by calling a function on another column, the iterrows() method in combination with a for loop is not the preferred way to go. Instead, you'll want to `use apply()`.

In [ ]:
# Use .apply(str.upper) because is a method we need a different approach.

for lab, row in cars.iterrows() :
    cars["COUNTRY"] = cars["country"].apply(str.upper)
print(cars)

***************************************************************************************************************

### More Loop examples

In [63]:
x = [12,35,6,6,2,3,3,3]

for e in x:
    """print only if it's an even number (par)"""
    if(e%2 == 0):
        print(e)

12
6
6
2

In [64]:
for e in x:
    """finishes the loop when it encounters a 3"""
    if(e == 3):
        break
        
    print(e)

12
35
6
6
2

In [65]:
for e in x:
    """jump number 6 and continue the loop"""
    if(e == 6):
        continue
        
    print(e)

12
35
2
3
3
3

****************************************************************************************************************

### Random Numbers

All the functionality you need is contained in the `random package`, a sub-package of `numpy`. 

`seed()`: sets the random seed, so that your results are the reproducible between simulations. As an argument, it takes an integer of your choosing. If you call the function, no output will be generated.

`rand()`: if you don't specify any arguments, it generates a random float between zero and one.

In [ ]:
# Import numpy as np
import numpy as np

# Set the seed
np.random.seed(123)

# Generate and print random float
print(np.random.rand())

In [ ]:
# Use randint() with the appropriate arguments to randomly generate the integer 1, 2, 3, 4, 5 or 6. This simulates a dice. Print it out.
print(np.random.randint(1,7))
print(np.random.randint(1,7))